.tap-button {
  width: 120px;
  height: 120px;
  transition: 0.2s;
  border: none;
  background-color: white;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 24pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.tap-button:active {
  width: 150px;
  height: 150px;
  border: none;
  font-size: 26pt;
}

@media screen and (max-width: 479px) {
  .tap-button {
    width: 100px;
    height: 100px;
    transition: 0.2s;
    border: none;
    background-color: white;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-size: 20pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-radius: 10px;
  }

  .tap-button:active {
    width: 120px;
    height: 120px;
    border: none;
    font-size: 22pt;
  }
}
