html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}


.circle {
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  width: 470px;
  height: 470px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.game-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .circle {
    display: flex;
    border: 2px solid white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
}

#start_button {
  border: none;
  background-color: white;
  font-family: "Noto Serif", "Times New Roman", serif;
  width: 65%;
  font-size: 15pt;
  text-align: center;
  height: 40px;
  margin: 0;
  border-radius: 5px;
}

.error-message {
  max-width: 80%;

}

.instruction {
  padding: 20px;
}

.instruction h1 {
  text-align: center;
}
